* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.container {
    width: 90%;
    max-width: 1160px;
    margin: 0 auto;
    height: 100%;
}

.push__button {
    border: none;
    border-radius: 3px;
    padding: 16px 54px;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    background-color: #fb565a;
    cursor: pointer;
}

.nav__button {
    border: none;
    background: none;
    display: none;
}

.nav__button label {
    cursor: pointer;
}

.nav__button span {
    display: inline-block;
    width: 20px;
    height: 3px;
    background-color: #a6a6a6;
    position: relative;
}

.nav__button span::before,
.nav__button span::after {
    content: '';
    position: absolute;
    left: 0;
    width: 20px;
    height: 3px;
    background-color: #a6a6a6;
}

.nav__button span::before {
    top: -6px;
}

.nav__button span::after {
    bottom: -6px;
}

.header__check {
    display: none;
}

.header__check:checked ~ .header__nav {
    display: block;
}

.introduction {
    background-color: #eeeeee;
}

.introduction__wrapper {
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 44px;
}

.header__nav__items {
    display: flex;
    list-style: none;
    align-items: center;
}

.header a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 600;
}

.header a:hover {
    border-bottom: 2px solid #fb565a;
}

.header__nav__item {
    margin-right: 50px;
}

.header__trash img {
    margin-right: 25px;
}

.main {
    height: 430px;
}

.main input {
    appearance: none;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    z-index: 3;
    bottom: 96px;
    transform: translate(-50%);
}

.main input:checked {
    background-color: #c1c1c1;
    border: 5px solid #fff;
}

.main .promo__slide__button__1 {
    left: 47%;
}

.main .promo__slide__button__2 {
    left: 50%;
}

.main .promo__slide__button__3 {
    left: 53%;
}

.main__slide {
    display: none;
}

.promo__slide__button__1:checked ~ .promo__slide__1,
.promo__slide__button__2:checked ~ .promo__slide__2,
.promo__slide__button__3:checked ~ .promo__slide__3 {
    display: flex;
}

.main__text {
    width: 516px;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 70px;
    z-index: 2;
}

.main__title{
    font-size: 55px;
    font-weight: 500;
    line-height: 55px;
}

.main__button .push__button:hover,
.examples__item:nth-child(1) .push__button:hover {
    background-color: #ce4749;
}

.main__img img{
    position: absolute;
    bottom: 0;
    right: 0;
}

.promo__slide__1 .main__img img{
    right: 30px;
}

.examples__items {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: 80px 350px 80px;
    grid-column-gap: 100px;
    border-bottom: 2px solid #eeeeee;
}

.examples__item {
    grid-row-start: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.examples__item__title {
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
}

.examples__item__description {
    font-size: 16px;
    line-height: 28px;
}

.examples__item .push__button {
    padding-right: 40px;
    padding-left: 40px;
}

.examples__item:nth-child(2) .push__button {
    background-color: #00ca74;
}

.examples__item:nth-child(2) .push__button:hover {
    background-color: #028b50;
}

.examples__item:nth-child(3) .push__button {
    background-color: #efc84a;
}

.examples__item:nth-child(3) .push__button:hover {
    background-color: #caaa3e;
}

.about__wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #eeeeee;
    padding-top: 38px;
    padding-bottom: 74px;
}

.about__description {
    width: 660px;
}

.about__description > h3{
    font-size: 45px;
    font-weight: 600;
    line-height: 45px;
    margin: 40px 0;
}

.about__description p {
    margin-bottom: 32px;
}

.about__description__list h3 {
    text-transform: uppercase;
    margin-bottom: 22px;
}

.about__description__items {
    list-style: none;
}

.about__description__items li::before{
    content: '';
    background: url(../img/studio-history-list.png);
    width: 25px;
    height: 2px;
    margin-right: 10px;
    position: relative;
    bottom: 5px;
    display: inline-block;
}

.about__description__item:not(:last-child) {
    margin-bottom: 22px;
}

.about__promo {
    width: 360px;
    display: grid;
    grid-template-areas: 
    "logo__image logo__image logo__image"
    "title title title"
    "procent-1 procent-2 procent-3"
    "descript-1 descript-2 descript-3";
    grid-template-rows: 208px 52px 80px auto;   
}

.about__promo__item:not(:first-child) {
    align-self: end;
}

.about__promo__item:nth-child(1) {
    grid-area: logo__image;
}

.about__promo__item:nth-child(2) {
    grid-area: title;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.about__promo__item:nth-child(3) {
    grid-area: procent-1;
    font-size: 45px;
    font-weight: 700;
}

.about__promo__item:nth-child(4) {
    grid-area: procent-2;
    font-size: 45px;
    font-weight: 700;
}

.about__promo__item:nth-child(5) {
    grid-area: procent-3;
    font-size: 45px;
    font-weight: 700;
}

.about__promo__item:nth-child(6) {
    grid-area: descript-1;
    line-height: 20px;
}

.about__promo__item:nth-child(7) {
    grid-area: descript-2;
    line-height: 20px;
}

.about__promo__item:nth-child(8) {
    grid-area: descript-3;
    line-height: 20px;
}

.partners__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0;
    border-bottom: 2px solid #eeeeee;
}

.partners__item:not(:first-child)::before {
    content: '';
    border-right: 2px solid #eeeeee;
    height: 52px;
    display: inline-block;
    position: relative;
    right: 24%;
}

.partners__item:nth-child(2):before,
.partners__item:nth-child(4):before {
    bottom: 16px;
}

.contacts__wrapper {
    margin-top: 80px;
}

.contacts__map {
    position: relative;
}

.contacts__map img {
    position: absolute;
    z-index: 1;
    left: 48%;
    bottom: 38%;
}

.contacts__information {
    width: 220px;
    height: 210px;
    background-color: #fff;
    position: absolute;
    z-index: 1;
    top: 50px;
    padding: 50px;
}

.contacts__information__button .push__button {
    padding: 16px 44px;
    margin-top: 36px;
}

.contacts__information__button .push__button:hover {
    background-color: #ce4749;
}

.contacts__information__title {
    font-size: 18px;
    line-height: 18px;
    font-weight: bold;
    margin-bottom: 30px;
}

.contacts__information__address {
    color: #666666;
    line-height: 16px;
    margin-bottom: 20px;
}

.contacts__information__mobile a {
    text-decoration: none;
    line-height: 16px;
    color: #666666;
}

.footer__wrapper {
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.icon {
    display: inline-block;
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.footer__icons a:not(:last-child) {
    margin-right: 10px;
}

.footer__icon__vk {
    background:#e1e1e1 url(../img/vkontakte_icon.png) center no-repeat;
}

.footer__icon__vk:hover {
    background-color: #4376a6;
}

.footer__icon__fb {
    background:#e1e1e1 url(../img/facebook_icon.png) center no-repeat;
}

.footer__icon__fb:hover {
    background-color: #3b5998;
}

.footer__icon__inst {
    background:#e1e1e1 url(../img/instagram_icon.png) center no-repeat;
}

.footer__icon__inst:hover {
    background-color:#E1306C;
}

.footer__discount {
    width: 550px;
    margin-left: 140px;
    color: #858585;
}

.footer__discount span {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: black;
}


